.App {
  text-align: center;
}

.content{
  
 text-align: center;
  
}

.buttonOp {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.spinOptionButton {
  background-color:darkcyan;
  text-decoration: underline;
  flex-basis: 10%;
  padding: 10px 20px;
  margin: .5%;
  border-radius: 8px;
}

.seeAllButton {
  background-color: red;
  text-decoration: underline;
  flex-basis: 10%;
  padding: 10px 20px;
  margin: .5%;
  border-radius: 8px;
}

.MealWheelLogo {
  width: 25%;
}

.App-logo {
  position: relative;
  bottom: 250px;
  left: -120px;
  width: 60px;
  pointer-events: none;
  
}

.Spin-the-Wheel {
  position:absolute;
  top: 10%; 
  align-content: center;
  width: 1,000px;
  

}

@media (prefers-reduced-motion: no-preference) {
  .Spin-the-Wheel {
    animation: App-logo-spin infinite  10s linear;
    
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.resultPopUp {
  flex-basis: auto;
  position: relative;
  align-content: center;
  width: 800px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 100%;
  background-image: url(/public/Images/resultpopup2.png);
  background-repeat: no-repeat;
}


.resultBox {
  flex-basis: auto;
  position:absolute;
  align-content: center;

}