.content{  
 text-align: center;  
}

.buttonOp {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.spinOptionButton {
  background-color:darkcyan;
  text-decoration: underline;
  flex-basis: 10%;
  padding: 10px 20px;
  margin: .5%;
  border-radius: 8px;
}

.noIntButton {
  font-style: white;
  background-color:rgb(87, 120, 168);
  text-decoration: underline;
  flex-basis: 10%;
  padding: 10px 20px;
  margin: .5%;
  border-radius: 8px;
}

.seeAllButton {
  background-color: red;
  text-decoration: underline;
  flex-basis: 10%;
  padding: 10px 20px;
  margin: .5%;
  border-radius: 8px;
}

.views{
  width: 100%;
  height: 90vh;
}

.MealWheelLogo {
  width: 20%;
}

.App-logo {
  position: relative;
  bottom: 250px;
  left: -120px;
  width: 60px;
  pointer-events: none;
  
}

.Spin-the-Wheel{
}

.Spin-the-Wheel-Motion {
  position:absolute; 
  align-content: center;

}

@media (prefers-reduced-motion: no-preference) {
  .Spin-the-Wheel-Motion {
    animation: App-logo-spin  5s linear ;    
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.resultPopUp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 90%; 
  background-image: url(/public/Images/ResultPopUpBox.jpg);
  background-size: 80% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.resultBox img {
  width: 100%;
  
}
.resultBox {
 
  width: 25%;
  height: 25%;
}

.resultsButton {
  background-color:blue;
  border-radius: 8px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 10px 20px;
}

.resultNav {
  position: relative;
  bottom: 10px;    
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;  
}

.recipeIngredientsStyling{
  display: flex;
  flex-direction: row;
}

.mainDiv {
  padding-left: 8rem;
  padding-right: 8rem;
}

.titleImage{
  display: contents;
  align-content: center;
  width: 80%;
}