.navbar {
    position: relative;
    bottom: 40%;    
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    

        
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    padding: 20px;
    background-color:rgb(87, 120, 168);
    border-radius: 8px;

}